.login-container {
    display: flex;
    flex: 1;
    width:100vw;
    /* height:100vw; */
    /* flex-wrap: wrap; */


}

.form-container {

    flex: 1;
    padding: 50px;
    margin: 10px;

}
.form-box{
    justify-content: left;
    align-items: inherit;
    grid-row:auto;
}
.input-form
{
    width:20
}
.heading , h1{
 font-size:55px
  
}
.heading1 , h3{
 font-size:40px;
 /* align-content: center; */
justify-content:end

    

}
 

.image-container {
    flex: 2;
}

.image {
    width: 100%;
    height: 600px;
   
}

input {
    display: grid;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
}
.email, .password{
    border: 1px solid white;
    background-color: white;
    width:70%;
    border-radius: 8px;
    padding:14px;
    border: none;
    outline: none;
}


.btn-login{
  padding:7px;
 }
.btn{
    background-color:rgb(92, 199, 241);
    width: 75%;
    margin-right:20px;
    padding: 14px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
}

.g-btn {
    border: 1px solid ;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
    width:345px !important;
    margin: 10px 0;
}

.g-btn>div,
.g-btn>div>svg {

    height: 38px !important;

 
}



.homepage , h1{
    font-size:25px;
    display: flex;
    justify-content: center;
   
}

.home-btn
{
 background-color:rgb(92, 199, 241);
 padding:5px;
 width:15%;
 border-radius: 5px;
margin-left: 42%;
margin-top: 5px;


}
