.sidebarOptions {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.sidebarOptions:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOptions > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebarOptions > h2 {
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
}

.sidebarOptions--active {
  color: var(--twitter-color);
}